@use '../styles/variables' as *;

body {
  flex-direction: row;
  gap: $vem * 10;
}

.main {
  width: 100%;
  padding: 0 280px;
}

.docs-nav {
  width: 240px;
  position: fixed;

  &-list {
    width: 100%;
    padding-bottom: $vem * 1;
    border-bottom: 1px solid $wh-hover;

    &-items {
      display: grid; 
      grid-template-rows: 0fr;

      div {
        overflow: hidden;
        padding-left: $vem * 2;
      }
    }

    &-title {
      width: 100%;
      justify-content: space-between;
      cursor: pointer;
    }

    &-item {
      width: 100%;
      justify-content: flex-start;
    }

    &-open &-title {
      margin-bottom: $vem * 3;
      color: $ac;
      &:hover {
        color: $ac-hover;
      }
      svg {
        transform: rotate(90deg);
      }
    }

    &-open &-items {
      grid-template-rows: 1fr;
    }
  }
}

.nav {
  width: 240px;
  align-items: flex-start;
  position: fixed;
  right: $media-width;

  &-list {
    align-items: flex-start;
    padding-bottom: $vem * 3;
    border-bottom: 1px solid $wh-hover;
    width: 100%;
  }
}

.section {
  padding-bottom: $vem * 6;
  border-bottom: 1px solid $wh-hover;

  &-description {
    ul {
      padding-left: $vem * 8;
    }
  }
}