@import '../styles/globals.scss';

.test-page {
  padding: $vem * 8;
  display: flex;
  flex-direction: column;
  gap: $vem * 8;

  &__section {
    display: flex;
    flex-direction: column;
    gap: $vem * 6;
  }

  &__title {
    @include text-style($font-size-heading-2, $line-height-heading-2, $font-weight-bold);
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    gap: $vem * 6;
  }
} 